# state files
STATE_FILE_ROOT="state"
STATE_FOB_FILE="fobs.txt"

MOSQUITTO_HOST="mosquitto.example.net"
# real
MOSQUITTO_TOPIC_FOB="event/fob"
MOSQUITTO_TOPIC_OPENSTATE="event/openclose"
MOSQUITTO_TOPIC_LOCKSTATE="event/lockunlock"

# test - uncomment variables and then send below commands to test :]
# MOSQUITTO_TOPIC_FOB="test/event/fob"
# MOSQUITTO_TOPIC_OPENSTATE="test/event/openclose"
# MOSQUITTO_TOPIC_LOCKSTATE="test/event/lockunlock"
# test open door
# mosquitto_pub -h "${MOSQUITTO_HOST}" -t "${MOSQUITTO_TOPIC_OPENSTATE}" -m '{"ts":"2026-09-07T16:44:19Z","node":"Door A","Bell":false,"Forced":false,"NFCFault":false,"NFCTamper":false,"Release Lock":false,"Door Open":true,"Pin 6":false,"Propped":false,"Tamper":true,"Timer1":false}'
# test door locking
# mosquitto_pub -h "${MOSQUITTO_HOST}" -t "${MOSQUITTO_TOPIC_LOCKSTATE}" -m '{"ts":"2026-09-07T16:44:33Z","node":"Door A","state":"UNLOCKING","trigger":"fob"}'
# test fob scanned
# mosquitto_pub -h "${MOSQUITTO_HOST}" -t "${MOSQUITTO_TOPIC_FOB}" -m '{"ts":"2026-09-07T16:44:33Z","node":"Door A","secure":true,"id":"028402FCC28289","name":"FobMan","ver":"A1","checked":true,"unlocked":true,"enterok":true,"disarmok":"A","armok":"A","strongok":"A","crc":"DC284DDA","door":"LOCKED"}'
